@font-face {
  font-family: Montessori;
  src: url("fonts/Montesori_Alt_Regular.woff2");
}

:root {
  --color-primary: #f472b6;
  --color-primary-dark: #f472b588;
  --color-primary-dark-dark: #612e4888;
  --color-secondary: #60a5fa;
  --color-secondary-dark: #458dfa67;
  --color-secondary-dark-dark: #203f6db9;
  --color-white: #fff;
  --color-white-smoke: #d3d3d3;
  --color-grey: #adb5bd;
  --color-grey-dark: #adb5bdad;
  --color-background: #000000;
  --color-background-light: #222121;
  --color-dark-transparent: #1e283685;
  --color-dark-transparent-dark: #1e283636;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
}

html, body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  color: var(--color-white);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.glass {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


