#loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: transparent;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#loaderContainer.fade-in {
  opacity: 1;
}

#loaderContainer.fade-out {
  opacity: 0;
}

.loader-container {
  position: relative;
  width: 35px;
  height: 35px;
}

.loader, .loader2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.loader {
  border-top-color: white;
  animation: spin 1.5s cubic-bezier(0.15, 0.62, 0.28, 0.97) infinite;
}

.loader2 {
  border-bottom-color: white;
  animation: spin-reverse 1.5s cubic-bezier(0.15, 0.62, 0.28, 0.97) infinite;
  animation-delay: 0.75s;
}

.loader-text {
  position: absolute;
  transform: translateY(40px);
  color: white;
  font-size: small;
  font-weight: 300;
  opacity: 0.8;
  text-align: center;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    border-width: 3px;
  }
  50% {
    opacity: 0.5;
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    border-width: 3px;
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    border-width: 3px;
  }
  50% {
    opacity: 0.5;
    border-width: 1px;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0;
    border-width: 3px;
  }
}